.App {
  text-align: center;
}

img {
  width:100px;
}
body{
  background-image: url("./images/1373.jpg");
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
}
.main{
  display:flex;
  justify-content:center;

}
.shedule{
  display:flex;
  justify-content:flex-start;
  flex-direction: column;
}
.container{
  display: flex;
  border: 1px solid rgb(128, 37, 151);
  margin:100px;
  padding: 20px;
  height: 800px;
  width:600px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}
.container2{
  display: flex;
  flex-direction:column;
  height: 800px;
  width:600px;
  border: 1px solid rgb(128, 37, 151);
  margin:100px;
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  text-align: center;
  justify-content: center;
  align-content: center;
}
input{
  padding:10px;
  margin:2px;
  border-radius: 10px;
  border: 1px solid rgb(127, 52, 156);
  background-color:  rgb(231, 219, 231);
}
input:hover{
  padding:10px;
  margin:2px;
  border-radius: 10px;
  border: 1px solid rgb(255, 255, 255);
  background-color:  rgb(231, 219, 231);
}
h1{
  color: rgb(127, 52, 156);
  
}
h6{
  color: rgb(127, 52, 156);
}
h5{
  color: rgb(127, 52, 156);
}
textarea{
  resize: none;
  background-color:  rgb(231, 219, 231);
  border: 1px solid rgb(127, 52, 156);
  border-radius: 10px;
}
textarea:hover{
  resize: none;
  background-color:  rgb(231, 219, 231);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
}
input:focus {
  background-color: rgb(219, 183, 236);
}
textarea:focus, input:focus{
  outline: none;
}
button{
  margin-left:15px;
  margin-top:30px;
  padding:10px;
  width:100px;
  background-color:rgb(127, 52, 156); 
  color:white;
  border-style: solid;
  border-color: rgb(127, 52, 156);
}
button:hover{
  margin-top:30px;
  padding:10px;
  width:100px;
  background-color:white;
  color:rgb(127, 52, 156); 
  border-style: solid;
  border-color: rgb(127, 52, 156);
}
.open {
  display:flex;
  justify-content:left;
  margin-left:-300px;
}
.schedules {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  text-align: center;
 
}

a{
text-decoration: none;
color:rgb(127, 52, 156); 
}

a:hover{
  color: rgb(219, 183, 236)
}